// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$body-bg: #FAFAFA;
 
$blue: #1872F6;
$blue-light: #5897F4;
$dark: #1C293E;
$ash-deep: #75869C;
$ash-light: #E3E9F0;