.profile-contents-box {
    .wrapper {
        padding: 26px;
    }
    .cover-img img {
        width: 100%;
        height: 215px;
        object-fit: cover;
        border-radius: 8px;
    }
    .profile-img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        background-color: #fff;
        margin-top: -82px;
    }
    .name {
        font-size: 20px;
    }
    .bio {
        font-size: 14px;
        color: #767B92;
    }
    .designation {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .joined-list {
        li {
            display: inline-block;
            font-size: 14px;
            b {
                font-weight: 600;
            }
        }
    }
    .following-list {
        li {
            display: inline-block;
        }
    }
    .follow-btns {
        .follow-btn {
            padding: 12px;
            background: #D2D5DF;
            border-radius: 30px;
            color: #1C293E;
            font-weight: 500;
            font-size: 16px;
            &:hover {
                background-color: #e0e3ed;
            }
        }
        .msg-btn {
            padding: 12px;
            background: #1872F6;
            border-radius: 30px;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            &:hover {
                background-color: #4588e9;
            }
        }
    }
}